# Pandas

In [467]:
import pandas as pd

In [468]:
data = [
    {
        'id': 120,
        'name': 'Joseph'
    },
    {
        'id': 125,
        'name': 'Sam'
    },
    {
        'id': 127,
        'name': 'Deborah'
    },
    {
        'id': 129,
        'name': 'Esther'
    }
]

In [469]:
# df = pd.DataFrame(data, index=[i['id'] for i in data])
df = pd.DataFrame(data)
df

    id     name
0  120   Joseph
1  125      Sam
2  127  Deborah
3  129   Esther

In [470]:
# Reading data from csv file
groceries_df = pd.read_csv('groceries.csv')
groceries_df

,title,price,description,image
0,Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon),"₦44,000.00₦49,500.00",Nosak Famili Vegetable Oil is 100% pure vegeta...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
1,Nosak Famili Quality Palm Oil 2.5L -×6 (in a c...,"₦38,500.00₦49,500.00",Nosak Famili Palm Oil is your perfect choice f...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
2,Nosak Famili Vegetable Oil 2.5l,"₦10,450.00",Nosak Famili Vegetable Oil is a natural source...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
3,wellsley canola oil 4.75L,"₦23,650.00",Canola oil is widely used in the food industry...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
4,Green Giant Sweet Corn 340g,"₦1,270.50",Green Giant sweetcorn provides you with 1 of y...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
...,...,...,...,...
148,Simas Margarine 280 g,₦635.25,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
149,Moi Margarine 250 g,₦866.25,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
150,Moi Margarine 500 g,"₦1,732.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
151,Lamis White Flour 2 kg,"₦4,966.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
152,Golden Penny Margarine 450 g,₦646.80,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [471]:
type(groceries_df)

pandas.core.frame.DataFrame

In [472]:
# Get first 5 records
groceries_df.head()

,title,price,description,image
0,Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon),"₦44,000.00₦49,500.00",Nosak Famili Vegetable Oil is 100% pure vegeta...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
1,Nosak Famili Quality Palm Oil 2.5L -×6 (in a c...,"₦38,500.00₦49,500.00",Nosak Famili Palm Oil is your perfect choice f...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
2,Nosak Famili Vegetable Oil 2.5l,"₦10,450.00",Nosak Famili Vegetable Oil is a natural source...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
3,wellsley canola oil 4.75L,"₦23,650.00",Canola oil is widely used in the food industry...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
4,Green Giant Sweet Corn 340g,"₦1,270.50",Green Giant sweetcorn provides you with 1 of y...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [473]:
# Get last 5 records
groceries_df.tail()

,title,price,description,image
148,Simas Margarine 280 g,₦635.25,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
149,Moi Margarine 250 g,₦866.25,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
150,Moi Margarine 500 g,"₦1,732.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
151,Lamis White Flour 2 kg,"₦4,966.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
152,Golden Penny Margarine 450 g,₦646.80,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [474]:
# Get any number of data randomly
groceries_df.sample(15)

,title,price,description,image
34,Crown Premium Spaghetti (500g),₦808.50,Crown Premium Pasta is a high-quality product ...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
59,Quaker Oats White OATS Tin 500g,"₦2,136.75",Nothing feels so great than a well-served bowl...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
13,Sma Gold Baby Milk 2 – 400g,"₦7,390.85₦8,085.00",Sma Gold 400g 2 Follow-Up is for children from...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
142,Exeter Corned Beef Product of Brazil 340 g,"₦4,620.00",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
12,Nasco Cornflakes Original 500g,"₦3,060.75",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
33,Fally White Vinegar 750ml,₦924.00,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
41,Kellogg’s Moons and Stars Cereal 400g,"₦4,620.00",Kellogg’s Moons and Stars is wheat based break...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
141,Exeter Corned Beef Product of France 200 g,"₦2,090.00",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
55,Devon Kings Vegetable Oil – 3 Litres,"₦7,854.00",DEVON KINGS VEGETABLE OIL 3 Liter\nKing’s cook...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
117,Green Steam Crisp Corn – Pack of 6 Tins,"₦6,598.90",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
94,Nutriben 8 Cereals 4 Fruits 6 Months-3 Years 3...,"₦4,273.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
49,Elex Peanut 475/510g,"₦4,389.00",Peanut like no other,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
70,Grand Pure Soya Oil (3 Litres),"₦8,085.00",Grand Pure Soya Oil is the ‘healthiest’ cookin...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
17,Indomie Super Pack onion flavor 120g,"₦17,999.00",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
95,Heinz Baked Beans In Tomato Sauce 415g,"₦1,375.96",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [475]:
# Get shape of data frame
groceries_df.shape

(153, 4)

In [476]:
# Get dimension for data
groceries_df.ndim

2

In [477]:
groceries_df.size

612

In [478]:
# Get all cloumn names
groceries_df.columns

Index(['title', 'price', 'description', 'image'], dtype='object')

In [479]:
# Get info about the dataframe
groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        150 non-null    object
 1   price        150 non-null    object
 2   description  63 non-null     object
 3   image        150 non-null    object
dtypes: object(4)
memory usage: 4.9+ KB

### Accessing data

In [480]:
groceries_df['title']

0      Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon)
1      Nosak Famili Quality Palm Oil 2.5L -×6 (in a c...
2                        Nosak Famili Vegetable Oil 2.5l
3                              wellsley canola oil 4.75L
4                            Green Giant Sweet Corn 340g
                             ...
148                                Simas Margarine 280 g
149                                  Moi Margarine 250 g
150                                  Moi Margarine 500 g
151                               Lamis White Flour 2 kg
152                         Golden Penny Margarine 450 g
Name: title, Length: 153, dtype: object

In [481]:
# Getting data with more than one column
groceries_df[['title', 'description']]

,title,description
0,Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon),Nosak Famili Vegetable Oil is 100% pure vegeta...
1,Nosak Famili Quality Palm Oil 2.5L -×6 (in a c...,Nosak Famili Palm Oil is your perfect choice f...
2,Nosak Famili Vegetable Oil 2.5l,Nosak Famili Vegetable Oil is a natural source...
3,wellsley canola oil 4.75L,Canola oil is widely used in the food industry...
4,Green Giant Sweet Corn 340g,Green Giant sweetcorn provides you with 1 of y...
...,...,...
148,Simas Margarine 280 g,NaN
149,Moi Margarine 250 g,NaN
150,Moi Margarine 500 g,NaN
151,Lamis White Flour 2 kg,NaN
152,Golden Penny Margarine 450 g,NaN

In [482]:
# Accesing data with integer location
groceries_df.iloc[20: 26, 1:3] # df.iloc[row, column]

        price                                        description
20  ₦1,155.00                                                NaN
21    ₦952.88                                                NaN
22  ₦6,352.50  Heinz Tomato Ketchup is a brand of ketchup pro...
23  ₦1,650.00                                                NaN
24  ₦5,544.00  The Crunchy Nut range brings you an irresistib...
25  ₦2,541.00  We’ve got everything from flour, baking powder...

In [483]:
groceries_df.loc[20: 26, ['title']]  # df.loc[row(int), [columns(strings)]]

                                title
20  Saffola Peeled Plum Tomators 400g
21        Pringles Texas BBQ Sace 40g
22              Heinze Ketchup 1.25kg
23          Lami Brown shawarma bread
24          Kelloggs Crunchy Nut 500g
25              Lamis White Flour 1kg
26                      Palm Oil 2.5L

### Data Transformation using Pandas

In [484]:
groceries_df.head()

,title,price,description,image
0,Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon),"₦44,000.00₦49,500.00",Nosak Famili Vegetable Oil is 100% pure vegeta...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
1,Nosak Famili Quality Palm Oil 2.5L -×6 (in a c...,"₦38,500.00₦49,500.00",Nosak Famili Palm Oil is your perfect choice f...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
2,Nosak Famili Vegetable Oil 2.5l,"₦10,450.00",Nosak Famili Vegetable Oil is a natural source...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
3,wellsley canola oil 4.75L,"₦23,650.00",Canola oil is widely used in the food industry...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
4,Green Giant Sweet Corn 340g,"₦1,270.50",Green Giant sweetcorn provides you with 1 of y...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [485]:
groceries_df.tail()

,title,price,description,image
148,Simas Margarine 280 g,₦635.25,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
149,Moi Margarine 250 g,₦866.25,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
150,Moi Margarine 500 g,"₦1,732.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
151,Lamis White Flour 2 kg,"₦4,966.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
152,Golden Penny Margarine 450 g,₦646.80,NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [486]:
groceries_df.sample(10)

,title,price,description,image
123,Power Oil Pure Vegetable Cooking Oil 2.6 litres,"₦6,930.00",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
103,Stovit Jam Rasberry 430 g,"₦5,197.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
87,Checkers Custard Powder Vanilla 2 kg,"₦3,811.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
17,Indomie Super Pack onion flavor 120g,"₦17,999.00",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
67,Infinity Corn Flakes 500g,"₦2,541.00",Start off your day with a breakfast kids of al...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
81,Honeywell Semolina 10 kg,"₦10,972.50",NaN,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
24,Kelloggs Crunchy Nut 500g,"₦5,544.00",The Crunchy Nut range brings you an irresistib...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
49,Elex Peanut 475/510g,"₦4,389.00",Peanut like no other,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
55,Devon Kings Vegetable Oil – 3 Litres,"₦7,854.00",DEVON KINGS VEGETABLE OIL 3 Liter\nKing’s cook...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."
63,Kellogg’s Frosties 500 g,"₦5,544.00",Kelloggs Frosties 500g; Made from our classic ...,"data:image/svg+xml,%3Csvg%20xmlns='http://www...."

In [487]:
groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        150 non-null    object
 1   price        150 non-null    object
 2   description  63 non-null     object
 3   image        150 non-null    object
dtypes: object(4)
memory usage: 4.9+ KB

In [488]:
groceries_df['title']

0      Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon)
1      Nosak Famili Quality Palm Oil 2.5L -×6 (in a c...
2                        Nosak Famili Vegetable Oil 2.5l
3                              wellsley canola oil 4.75L
4                            Green Giant Sweet Corn 340g
                             ...
148                                Simas Margarine 280 g
149                                  Moi Margarine 250 g
150                                  Moi Margarine 500 g
151                               Lamis White Flour 2 kg
152                         Golden Penny Margarine 450 g
Name: title, Length: 153, dtype: object

In [489]:
# Getting unique value
groceries_df['title'].unique()

array(['Nosak Famili Vegetable Oil 2.5L -×6(in a cartoon)',
       'Nosak Famili Quality Palm Oil 2.5L -×6 (in a cartoon) cartoon)',
       'Nosak Famili Vegetable Oil 2.5l', 'wellsley canola oil 4.75L',
       'Green Giant Sweet Corn 340g',
       'Crown Premium Pasta Carton (500g x20)',
       'Royal Amoy White Vinegar 750ml',
       'Heinz Apple Distilled White Vinegar 946ml',
       'Heinz Apple Cidar Vinegar 946ml', 'Laser Olive Oil Pomace 1L',
       'Dangote Refined Granulated Sugar 250g',
       'Dante Extra Virgin Olive Oil 1L',
       'Nasco Cornflakes Original 500g', 'Sma Gold Baby Milk 2 – 400g',
       'White Flour (Full Custard Bucket)',
       'Golden Penny Spaghetti (fat)500g – CARTON OF 20PCS',
       'Golden Penny Spaghetti 500g',
       'Indomie Super Pack onion flavor 120g', 'Ola Ola Yam Flour 2.2kg',
       'KTC Pure Sunflower Oil 5L', 'Saffola Peeled Plum Tomators 400g',
       'Pringles Texas BBQ Sace 40g', 'Heinze Ketchup 1.25kg',
       'Lami Brown shawarma bread', 'Kelloggs Crunchy Nut 500g',
       'Lamis White Flour 1kg', 'Palm Oil 2.5L',
       'Sunola Soya Oil 1.9 litres', 'De Rica Tomato Paste – 800g',
       'Amoy Dark Soy Sauce-625ml', 'Amoy Light Soy Sauce 625ml',
       'Laser Extra Virgin Olive Oil -1 L', 'Pap Yellow (Ogi)',
       'Fally White Vinegar 750ml', 'Crown Premium Spaghetti (500g)',
       'Honeywell Wheat Flour 1kg', 'Banga Red Palm Oil 4 Liters',
       'Wesson Canola Oil 4.75L', 'Kellogg’s Frosted Flakes Cereal',
       'Alpen No Sugar Added Muesli 550 g',
       'Nestle Frosted Shreddies Original 460g',
       'Kellogg’s Moons and Stars Cereal 400g',
       'Kellogg’s Fruit & Fibre 500g', 'Golden Country Corn Flake 500g',
       'Ayoola poundo yam flour 900g', 'Kelloggs Corn Flakes 550g',
       'Greenery Brown Mushrooms', 'OLA-OLA Pounded Yam Flour – 0.907kg',
       'Grand Pure Soya Oil – 4L', 'Elex Peanut 475/510g',
       'Honey Nut Cheerios, Gluten Free Cereal With Oats, 10.8 Oz',
       'Golden Penny Spaghettini 500g', 'Ayoola poundo yam flour 1.8kg',
       'Bonita Slim Spaghetti 500g',
       'Devon Kings Vegetable Oil – 5 Litres',
       'Devon Kings Vegetable Oil – 3 Litres',
       'Devon Kings Vegetable Oil – 2 Litres',
       'Devon Kings Vegetable Oil – 1 Litre',
       'Silver Crown Baking Powder – 454g',
       'Quaker Oats White OATS Tin 500g', 'HEINZ CORNED BEEF 340G',
       'Ayoola Plantain Flour 0.9kg', 'Heinz Baked Beans – 200g',
       'Kellogg’s Frosties 500 g',
       'Goya Extra Virgin Olive Oil – 88.75ml',
       'Pringles Salt and Vinegar', 'So Yummy Caramel Popcorn 45g',
       'Infinity Corn Flakes 500g',
       'Pure Bliss Rich Creamy Wafers 45g (Pack of 12)',
       'Pure Bliss Strawberry Wafers (Pack of 12)',
       'Grand Pure Soya Oil (3 Litres)', 'Power Oil 75cl',
       'Sunola Soyabean Oil 2.7 L', 'Grand Pure Soya Oil 2.75litres X 6',
       'Chikki 100g Chicken Noodles Flavour',
       'Nasco Corn Flakes Original 350 g', 'Golden Penny Couscous 500 g',
       'Golden Penny Spaghetti 500g Carton (20 Packs)',
       'Golden Penny Twist Pasta 500g — X20 Sachets',
       'Honeywell Instant Noddles Chicken Flavor 70g X 40',
       'Honeywell Semolina – 1.8KG', 'Honeywell Semolina 10 kg',
       'Indomie Noodles Onion Chicken Flavour 70 g Pack of 40',
       'Kelloggs Coco Pops – 400g',
       'Kellogg’s Coco Pops Sachet 40 g (NG) x60',
       'Infinity Cornflakes – 350g X 3pcs',
       'Checkers Custard Powder Banana 2 kg',
       'Checkers Custard Powder Vanilla 2 kg',
       'Nestle Golden Maize Cereal – 800g',
       'Kellogg’s Rice Krispies 510g',
       'QUAKER OATS 100% Natural Whole Grain Oatmeal Quick-1minute',
       'Devon Vegetable Cooking Oil 3 Litres X 6 (carton)',
       'Kings Pure Vegetable Oil 5Ltrs X 4 (carton)',
       'Mamador Pure Vegetable Oil 2.5 L x4',
       'Nutriben 8 Cereals 4 Fruits 6 Months-3 Years 300 g',
       'Heinz Baked Beans In Tomato Sauce 415g',
       'Heinz Baked Beans In Tomato Sauce 415g x24 pieces',
       'Baygon Insecticide 500 ml',
       'Raid Multi-Purpose Insect Killer Insecticide – (300ml) X2',
       'Ola Ola Pounded Yam Flour 907 g',
       'Indomie Noodles Instant Super Pack Noodles Chicken Flavour 120g',
       'Indomie Instant Noodles Chicken 70 g x40',
       'Honeywell Spaghetti 500 g x20', 'Stovit Jam Rasberry 430 g',
       'Nutzy Peanut Butter Extra Crunchy 227 g',
       'Golden Penny Semovita 5 kg', 'Ayoola Foods Beans Flour 900 g',
       'Ayoola Foods Poundo Yam Flour 900 g x20',
       'Lady B Custard Powder 2 kg x2', 'Gold’s Custard Powder 2 kg x2',
       'Honeywell Semolina 5 kg', 'Titus Sardines 125 g',
       'Checkers Custard Powder Vanilla Sachet 400 g',
       'Golden Penny Semovita 1 kg',
       'Checkers Custard Powder Vanilla 1 kg Refill',
       'Golden Penny Semovita 2 kg',
       'Green Giant Sweet Corn – Pack of 2 Tins',
       'Green Steam Crisp Corn – Pack of 6 Tins',
       'Dinor Whole Mushroom 400 g',
       'White Pearl Red Kidney Beans In Salted Water 400 g',
       'Farrows Giant Marrowfat Green Peas 538g',
       'Heinz Beanz – 200g x 6', 'King’s Vegetable Oil- 10L gallon',
       'Power Oil Pure Vegetable Cooking Oil 2.6 litres',
       'Sunripe Whole Sweetcorn (340g) X 6Pcs',
       'Titus Sardine – 125g x 25',
       'Kings Vegetable Oil – 1 Liters ( 12 In A Carton )',
       'GOLDEN PENNY SEMOVITA 10kg',
       'QUAKER OATS White Oats Refill – 500g',
       'Farrows Giant Marrowfat Green Peas 538g X 6pcs',
       'Cereals Nestle Golden Morn 400g Carton (12pcs)', nan,
       'Golden Penny Pasta Twist 500 g', 'Honeywell Spaghetti 500 g',
       'Golden Penny Goldenvita Whole Wheat Meal 1 kg',
       'Golden Penny Goldenvita Whole Wheat Meal 2 kg',
       'Golden Penny Goldenvita Whole Wheat Meal 10 kg',
       'Bolero Custard Powder 2 kg x4',
       'Golden Penny Goldenvita Whole Wheat Meal 5 kg',
       'Exeter Corned Beef Product of France 200 g',
       'Exeter Corned Beef Product of Brazil 340 g',
       'Exeter Corned Beef 200 g x24', 'King’s Vegetable Oil 3 L',
       'King’s Vegetable Oil 10 L',
       'Geisha Mackerel In Tomatoes Sauce (155g) – 50 Cans',
       'Golden Morn Maize 400g', 'Simas Margarine 280 g',
       'Moi Margarine 250 g', 'Moi Margarine 500 g',
       'Lamis White Flour 2 kg', 'Golden Penny Margarine 450 g'],
      dtype=object)

In [490]:
# Get number of unique values
groceries_df['title'].nunique()

150

#### Missing values

In [491]:
groceries_df['price'].isnull().sum()

3

In [492]:
groceries_df['price'] = groceries_df['price'].dropna()
groceries_df[groceries_df['price'].isnull()]
# groceries_df.fillna(value=0, inplace=True)
# groceries_df[groceries_df['price'] == 0]

    title price description image
131   NaN   NaN         NaN   NaN
132   NaN   NaN         NaN   NaN
133   NaN   NaN         NaN   NaN

In [493]:
# Replacing values
groceries_df['price'] = groceries_df['price'].str.replace('₦', ' ')
groceries_df['price']

0       44,000.00 49,500.00
1       38,500.00 49,500.00
2                 10,450.00
3                 23,650.00
4                  1,270.50
               ...
148                  635.25
149                  866.25
150                1,732.50
151                4,966.50
152                  646.80
Name: price, Length: 153, dtype: object

In [494]:
groceries_df['price'] = groceries_df['price'].str.replace(',', '')
groceries_df['price']

0       44000.00 49500.00
1       38500.00 49500.00
2                10450.00
3                23650.00
4                 1270.50
              ...
148                635.25
149                866.25
150               1732.50
151               4966.50
152                646.80
Name: price, Length: 153, dtype: object

In [495]:
# Remove all white spaces
groceries_df['price'] = groceries_df['price'].str.strip()

In [496]:
# Split into new price and old price
groceries_df['price'] = groceries_df['price'].str.split(' ')

In [497]:
def get_new_price(x: list):
    if len(x) == 2:
        return x[0]
    else:
        return x[0]

def get_old_price(x: list):
    if len(x) == 2:
        return x[1]
    else:
        return None

In [500]:
# groceries_df['new_price'] = groceries_df['price'].apply(get_new_price)
# groceries_df['old_price'] = groceries_df['price'].apply(get_old_price)

# groceries_df